# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/production/classes/
/Topics/Switch statement/A simple calculator/out/
/Topics/Switch statement/A simple calculator/out/production/classes/